<script type="text/javascript" src="tal/static/script/lib/require.js"></script>
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
<link rel="stylesheet" href="static/style/base.css" />
