* {
	box-sizing: border-box;
}

html {
	height: 100%;
	background-color: #000;
}

body {
	overflow: hidden;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	color: #d4d4d4;
}

object {
	position: absolute;
}

/* Loading screen */
#static-loading-screen {
	position: absolute;
	margin-top: 100px;
	z-index: 100;
	width: 100%;
}

#static-loading-screen p {
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	margin: 20px 0;
	padding: 0 50px;
}

/* Button */
.button {
	padding: 8px 16px;
	text-align: center;
	background-color: #fff;
	color: #152348;
}

.button.focus {
	background-color: #06aef8;
	color: #152348;
}

/* Header */
.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #152348;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Keyboard */
.iptv-keyboard-container {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #152348;
}

.iptv-keyboard-textbox-container {
	display: block;
	padding: 10px;
}

.iptv-keyboard-textbox-container .iptv-keyboard-textbox {
	display: flex;
	height: 50px;
	width: 100%;
	background: #fff;
	border-radius: 5px;
	color: #152348;
	align-items: center;
	font-size: 1.5rem;
	padding-left: 10px;
}

.keyboard .row {
	display: flex;
	justify-content: center;
}

.keyboard .row .keyboardButton,
.keyboard .row .spacer {
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	background-color: transparent;
	color: #fff;
}

.keyboard .row .firstcol,
.keyboard .row .lastcol {
	width: 100px;
}

.keyboard .row .keyboardButton.focus {
	background-color: #06aef8;
	color: #152348;
}

.playlist {
	margin-top: 75px;
	padding: 10px;
}
